[packages]
fastapi = "==0.101.1"
uvicorn = {version = "0.23.2", extras = ["standard"]}
python-multipart = "==0.0.6"

[dev-packages]
black = "==23.7.0"
fastapi = {version = "0.101.1", extras = ["all"]}
pytest = "==7.4.0"
httpx = "==0.24.1"

[scripts]
format = 'black .'
server = 'uvicorn main:app --reload'

[requires]
python_version = "3.11.0b4"
